.contenido h2 {
    color: black;
}

.img1 {
    width: 200px;
    height: 200px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}